################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WIFIManager/Properties/Default.rd.xml
/WIFIManager/obj
/WIFIManager/WIFIManager_StoreKey.pfx
/WIFIManager/Package.StoreAssociation.xml
/WIFIManager/bin/x86/Debug
